.signup-info {
  @include flexDirection(flex, column);
  padding: 20px 30px 0;

  & h1 {
    font-size: 24px;
    color: $color-text-first;
    margin-bottom: 16px;
  }

  & label {
    @include FontsizeBold(12px, bold);
    color: $color-text-first;

    & .red {
      color: $color-text-red;
    }
  }
  & input {
    @include fontsize-height(15px, 30px);
    border: 0;
    border-bottom: 1px solid $color-text-third;
    padding: 0;
    margin-bottom: 9px;
    color: $color-text-second;

    &::placeholder {
      color: $color-text-second;
      padding: 0;
      font-size: 12px;
    }
  }
  & .jender {
    @include FontsizeBold(12px, bold);
    color: $color-text-first;
    margin-top: 20px;
  }

  & .select-jender input {
    vertical-align: middle;
    margin: 0 5px 0 0;
  }

  & .select-jender label {
    @include fontsize-lineheight(15px, 42px);
    margin-right: 50px;
  }

  & .if {
    @include fontsize-color(12px, $color-text-first);
    margin-bottom: 15px;
  }
  & .write-adress {
    width: 321px;
  }
  & .adress-button {
    @include WidthHeight(100px, 30px);
    @include color-fontweight-lineheight($color-orange-main, bold, 30px);
    border: 1px solid $color-orange-main;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-left: 11px;
  }
}
