.member-info {
    border:1px solid blue;
    height:335px;
    display:flex;
    flex-direction: column;
}

.member-info .label{
    border:1px solid red;
    font-size: 12px;
    width:518px;
    align-self:center;
    margin-left:- 8px;
    margin-top: 80px;
    
    
}

.member-info input{
    width:518px;
    align-self: center;
}





