.signup-info .password {
  padding-top: 63px;
}

.signup-info #password,
#re-password,
#find-adress {
  margin-bottom: 30px;
}

.signup-info #phone-number {
  margin-bottom: 60px;
}

.signup-info .adress-button {
  margin: 0 0 0 -15px;
}
