html {
  background-color: #eee;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.container .navi-bar {
  height: 60px;
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  padding: 0 30px;
}

.container .navi-bar a {
  width: 40px;
  line-height: 60px;
  text-decoration: none;
  background: url(/images/Group.png) no-repeat center;
  font-size: 0;
}

.container .navi-bar a:last-child {
  background: url(/images/home.png) no-repeat center;
}

.baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  height: 115px;
  background-color: #c4c4c4;
}

.baner img {
  width: 80px;
  height: 83px;
  padding: 15px 0 15px 70px;
}

.baner .baner-text {
  font-size: 15px;
  font-weight: 900;
  width: 250px;
  height: 70px;
  color: #000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 23px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
}

.container .signup-info {
  padding: 0;
}

.container .signup-info h1 {
  margin-top: 10px;
  padding-left: 30px;
}

.signup-info .baner {
  margin-top: 0;
}

.signup-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px 0;
}

.signup-info h1 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 16px;
}

.signup-info label {
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.signup-info label .red {
  color: #f21f1f;
}

.signup-info input {
  font-size: 15px;
  height: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  margin-bottom: 9px;
  color: rgba(0, 0, 0, 0.3);
}

.signup-info input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  padding: 0;
  font-size: 12px;
}

.signup-info input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  padding: 0;
  font-size: 12px;
}

.signup-info input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  padding: 0;
  font-size: 12px;
}

.signup-info input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  padding: 0;
  font-size: 12px;
}

.signup-info .jender {
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 20px;
}

.signup-info .select-jender input {
  vertical-align: middle;
  margin: 0 5px 0 0;
}

.signup-info .select-jender label {
  font-size: 15px;
  line-height: 42px;
  margin-right: 50px;
}

.signup-info .if {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
}

.signup-info .write-adress {
  width: 321px;
}

.signup-info .adress-button {
  width: 100px;
  height: 30px;
  color: #f2b073;
  font-weight: bold;
  line-height: 30px;
  border: 1px solid #f2b073;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  margin-left: 11px;
}

.container .privacy {
  color: #000;
  font-weight: bold;
  line-height: none;
  height: 152px;
  padding: 50px 0 0 30px;
}

.container .signup-info input {
  margin: 0 30px;
}

.container .signup-info label {
  margin: 0 30px;
}

.signup-info .password {
  padding-top: 63px;
}

.signup-info #password,
#re-password,
#find-adress {
  margin-bottom: 30px;
}

.signup-info #phone-number {
  margin-bottom: 60px;
}

.signup-info .adress-button {
  margin: 0 0 0 -15px;
}

.container .small-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 493px;
}

.container .small-button a {
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  font-size: 20px;
  width: 200px;
  height: 50px;
  background-color: #f2b073;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.container .small-button a:first-child {
  margin-right: 30px;
}

.container .small-button {
  height: 200px;
}

body {
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=signup-modify.css.map */