//Mixin

@mixin flexDirection($flex, $direction) {
  display: $flex;
  flex-direction: $direction;
}

@mixin FontsizeBold($Fontsize, $Bold) {
  font-size: $Fontsize;
  font-weight: $Bold;
}

@mixin fontsize-color($fontsize, $color) {
  font-size: $fontsize;
  color: $color;
}

@mixin WidthHeight($Width, $Height) {
  width: $Width;
  height: $Height;
}

@mixin WidthLineHeight($Width, $LineHeight) {
  width: $Width;
  line-height: $LineHeight;
}

@mixin height-lineheight($height, $line-height) {
  height: $height;
  line-height: $line-height;
}

@mixin fontsize-width($fontsize, $width) {
  font-size: $fontsize;
  width: $width;
}
@mixin fontsize-height($fontsize, $height) {
  font-size: $fontsize;
  height: $height;
}

@mixin fontsize-width-height($fontsize, $width, $height) {
  font-size: $fontsize;
  width: $width;
  height: $height;
}

@mixin fontsize-lineheight($fontsize, $lineweight) {
  font-size: $fontsize;
  line-height: $lineweight;
}

@mixin color-fontweight-lineheight($color, $fontweight, $lineheight) {
  color: $color;
  font-weight: $fontweight;
  line-height: $lineheight;
}

//extend
%member-info-form {
  @include FontsizeBold(10px, bold);
  width: 418px;
  align-self: center;
}

%login-maintain-button {
  @include WidthHeight(31px, 32px);
  content: "";
  display: inline-block;
  vertical-align: middle;
}

%login-icon {
  @include height-lineheight(40px, 40px);
  @include fontsize-width(0, 40px);
}
