// baner
$color-grey-dark: #c4c4c4;
$color-grey-light: rgba(0, 0, 0, 0.1);

// button
$color-orange-main: #f2b073;
$color-button-main: #fff;
$color-button-background: rgba(196, 196, 196, 0.4);

// text
$color-text-first: rgba(0, 0, 0, 0.6);
$color-text-second: rgba(0, 0, 0, 0.3);
$color-text-third: rgba(0, 0, 0, 0.2);
$color-text-forth: #000;
$color-text-red: #f21f1f;
